body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #002f4b;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

h1, p, ul, form {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #002f4b;
  color: white;
}
